.top_nav{
    background-color: #3cfec7;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    width: 100%;
    padding-top: .5%;
    padding-left: .5%;
    padding-bottom: .5%;
}
#title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    vertical-align: middle;
    display: inline;
}
#smole{
    display: inline;
    padding-left: 20px;
    text-decoration: underline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



.side_nav{
    background-color: #29b083;
    z-index: 1;
    position: fixed;
    top: 4.5%;
    left: 0px;
    width: 240px;
    padding-left: 10px;
    height: 1000px;
    overflow-y: hidden;
}
#profilepic{
    border-radius: 75px;
    width: 100px;
    padding-top: 10px;
    align-self: center;
    padding-left: 60px;
}
#name{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    text-align: center;
}



.tabs{
    position: fixed;
    z-index: 1;
    top: 30%;
    left: 0px;
    background-color: #33d9a7;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    width: 250px;
}
.links{
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    width: 210px;
    text-decoration: none;
    color: black;
}
.links:hover{
    color: whitesmoke;
    background-color: #29b083;
    border-style: inset;
    border-width: 5px;
    border-color: dimgray;
}
.links:active{
    color: #29b083;
    background-color: whitesmoke;
    border-style: inset;
    border-width: 5px;
    border-color: dimgray;
}
.active{
    z-index: 1;
    position: fixed;
    top: 90%;
    left: 0;
    width: 220px;
    background-color: teal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
}



.main{
    z-index: 1;
    position: fixed;
    top: 4.5%;
    left: 13%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: lightcyan;
}

#intro{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 30px;
    padding-top: 30px;
}
#that_little_bitch{
    padding-left: 400px;
}
#home_body{
    padding-top: 30px;
    padding-left: 550px;
    vertical-align: middle;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


#baby{
    width: 100%;
    height: 100%;
}


#kummer{
    width: 100%;
    height: 100%;
}